html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}

.btn-no-bg{
    border: none;
    background-color: white 
}


.hr{margin:5px 0;}
.accordion-group{margin-bottom:10px;border-radius:0;}
.accordion-toggle{
    background:rgb(123, 207, 235);
		
}

.accordion-toggle:hover{
	text-decoration: none;
	
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 2px 15px;
}



.selectStyle{
	width:46%; float: left; margin-right: 8%;
}


.accordion-group{
	margin-bottom:20px;
}
